@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Guruhni ozgartirish";
}
<div>
    <h3>Add New Group</h3>
    <form method="post">
        <table>
            <tr>
                <td><p> Enter group name </p></td>
                <td><input type="text" name="Name"/></td>
            </tr>
            <tr><td><input type="submit" value="Submit"/></td></tr>
        </table>
    </form>
</div>